page-home {
  
}

.picImage{
    transform: rotate(90deg);
    margin-top: 10px;
}

.news {

  }
  .news-world {

    float:left;

  }
  .news-local {

    float:right;

  }
  .news-world div,
  .news-local div {

  }


  #map_canvas{
    margin-top: 24px !important;
    height: 62vh !important;
  }